fastapi
uvicorn
motor
dnspython
certifi
pydantic-settings
python-jose[cryptography]
httpx
pytesseract
opencv-python-headless
pdfkit
python-multipart
Pillow
passlib[bcrypt]
python-dotenv
reportlab>=4.0.0

